<template>
    <div>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item padding="around-small" size="12">
                <!-- file field name contains the field name where the second record id should be there -->
                <!-- file field value stores the second record Id -->
                <lightning-file-upload
                                       label=""
                                       name="fileUploader"
                                       accept={acceptedFormats}
                                       record-id={firstRecordId}
                                       file-field-name="Second_Record_Id_fileupload__c"
                                       file-field-value={secondRecordId}
                                       onuploadfinished={handleUploadFinished}
                                       multiple
                                       disabled={disabled}>
                </lightning-file-upload>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>